<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.mis.erp.manager.order.ChooseOrderDao">
    <insert id="addChooseOrder" parameterType="com.cqupt.mis.erp.model.order.ChooseOrder">
        insert into chooseOrder(Period,MarketName,ProductName,
                    UserUnique,ChooseValue,GroupName)
        values(#{period},#{marketName},#{productName},
               #{userUnique},#{chooseValue},#{groupName})
    </insert>

    <update id="updateChooseOrderValue">
        update chooseOrder
        set chooseValue=chooseValue+#{chooseValue}
        where userUnique=#{userUnique}
        and period=#{period}
        and marketname like #{marketName}
        and productname like #{productName}
    </update>

    <update id="updateChooseOrderValueByOrderId">
        update ChooseOrder
        set ChooseValue=ChooseValue+#{chooseValue}
        where ChooseID=#{orderId}
    </update>

    <update id="updateChooseOrderValueByUserUnique">
        update ChooseOrder
        set ChooseValue=ChooseValue+#{chooserValue}
        where userunique=#{userUnique}
        and period=(select currentperiod
                    from gamegroupmember
                    where userunique=#{userUnique})
    </update>

    <select id="findChooseOrderUser" resultType="string">
        <![CDATA[
			select userUnique from chooseorder
			where (marketname, productname,choosevalue)
			  in(
				  select marketname,productname,min(choosevalue)
				  from CHOOSEORDER
				  where marketname=#{marketName}
				  and productname=#{productName}
				  and period=#{period}
				  and groupname=#{groupName}
				  group by marketname, productname
				)
			and period=#{period}
			and groupname=#{groupName}
		]]>
    </select>

    <select id="findChooseOrderByUserUnique" parameterType="string"
            resultType="com.cqupt.mis.erp.model.order.ChooseOrder">
        <![CDATA[
			select ChooseID,Period,MarketName,ProductName,
			       UserUnique,ChooseValue,GroupName
			from chooseorder
			where userunique=#{userUnique}
			and period=(select currentperiod
			            from gamegroupmember
			            where userunique=#{userUnique})
			and choosevalue<10000
		]]>
    </select>

    <!--
	这里是综合了两张表的sql语句判断.尽量少的吧他分开,将更多的逻辑交给sql,

	先将两张大表融合在一起,将chooseorder 跟allorderofgroup 融合在一起.
	然后再找到 相应的chooseorder.chooseid

	chooseorder.id要满足几个条件
	1.是根据marketname,productname,groupname 分组之后 每组里面最小 chooservalue 值的chooseid
	2.同时要小于10000 因为默认大于10000 的都是已经退出了这个市场这个产品的投放.
	3.是当前的周期.
	4.限定只是本次投放过得市场才能看到相应的订单.
	5.限定是本次投放过得产品才能看到相应的订单.
	6.只能看到能够选择的订单 allorderofgroup中对得status为0的就不能 够在看到了.
	oh my god!
by 何海源

2016.4.22 boom爆炸，过于复杂的sql 导致很难的解开，并且性能都直接下去了。。。因为为了写成一条sql。
尽量将重复join 的部分拉出来。
 -->

    <!--
   <select id="findChooseOrderByMarketNameAndProductNameCacheWithGroup"
    resultType="com.cqupt.mis.erp.model.vo.ChooseOrderVO">
           select chooseorder.userUnique,chooseorder.chooseID,chooseorder.chooseValue,
               allordersofgroup.orderID,allordersofgroup.productName,allordersofgroup.pNumber,
               allordersofgroup.marketName,allordersofgroup.needTime,allordersofgroup.MoneyTime,
               allordersofgroup.penalPercent,allordersofgroup.specialRem,allordersofgroup.groupName,
               allordersofgroup.status,allordersofgroup.period,allordersofgroup.price
               from chooseorder,allordersofgroup
               where chooseorder.marketname=allordersofgroup.marketname
                   and chooseorder.period=allordersofgroup.period
                   and  chooseorder.productname=allordersofgroup.productname
                   and chooseorder.groupname=allordersofgroup.groupname
                   and allordersofgroup.status = 0
                   and chooseorder.chooseid in (
                       select chooseid from
                       (
                           SELECT chooseorder.chooseid,chooseorder.marketname,chooseorder.productname,chooseorder.groupname,chooseorder.period
                           FROM chooseorder RIGHT JOIN (
                               SELECT marketname,productname,groupname,MIN(choosevalue) AS choosevalue FROM chooseorder GROUP BY marketname,productname,groupname
                           )t ON chooseorder.`MARKETNAME` = t.marketname AND chooseorder.`PRODUCTNAME` = t.productname AND chooseorder.`GROUPNAME` = t.groupname AND chooseorder.CHOOSEVALUE = t.choosevalue

                           WHERE chooseorder.choosevalue<1000 AND period=#{period}
                       )tt
                       where marketname in
                               <if test="marketName=='all' ">
                                   (select distinct marketname from adofuser where userUnique=#{userUnique}  and period=#{period} and money>0)
                               </if>
                               <if test="marketName!='all' and marketName!=null">
                                   (#{marketName})
                               </if>
                           and productname in
                           <if test="productName=='all' ">
                               (select distinct productname from adofuser where userUnique=#{userUnique} and period=#{period} and money>0)
                           </if>
                           <if test="productName!='all' and productName!=null">
                               (#{productName})
                           </if>
                           and groupname=#{groupName}
                   )
       </select>
    -->

    <!-- <select id="findChooseOrderByMarketNameAndProductNameCacheWithGroup"
        resultType="com.cqupt.mis.erp.model.vo.ChooseOrderVO">

<![CDATA[
        SELECT
            chooseorder.userUnique,chooseorder.chooseValue,
            allordersofgroup.orderID,allordersofgroup.productName,allordersofgroup.pNumber,
            allordersofgroup.marketName,allordersofgroup.needTime,allordersofgroup.MoneyTime,
            allordersofgroup.penalPercent,allordersofgroup.specialRem,allordersofgroup.groupName,
            allordersofgroup.status,allordersofgroup.period,allordersofgroup.price
        FROM allordersofgroup RIGHT JOIN
        (
            SELECT chooseorder.*
            FROM chooseorder RIGHT JOIN (
                SELECT *,MIN(CHOOSEVALUE) AS _choosevalue FROM chooseorder
                WHERE groupname=#{groupName}
                    AND period =#{period}
                    AND chooseorder.CHOOSEVALUE <1000
                GROUP BY MARKETNAME,PRODUCTNAME
            )t ON chooseorder.`MARKETNAME` = t.marketname AND chooseorder.`PRODUCTNAME` = t.productname AND chooseorder.`GROUPNAME` = t.groupname AND chooseorder.CHOOSEVALUE = t._choosevalue
            WHERE chooseorder.groupname=#{groupName}  AND chooseorder.period =#{period} AND chooseorder.CHOOSEVALUE <1000
        )chooseorder ON allordersofgroup.`MARKETNAME` = chooseorder.marketname AND allordersofgroup.`PRODUCTNAME` = chooseorder.productname AND allordersofgroup.`GROUPNAME` = chooseorder.groupname
        WHERE allordersofgroup.groupname=#{groupName}
        AND allordersofgroup.period=#{period}
        AND allordersofgroup.status = 0
        AND allordersofgroup.marketname in
]]>
                <if test="marketName=='all' ">
                    (select distinct marketname from adofuser where userUnique=#{userUnique}  and period=#{period} and money>0)
                </if>
                <if test="marketName!='all' and marketName!=null">
                    (#{marketName})
                </if>
<![CDATA[
            and allordersofgroup.productname in
]]>
            <if test="productName=='all' ">
                (select distinct productname from adofuser where userUnique=#{userUnique} and period=#{period} and money>0)
            </if>
            <if test="productName!='all' and productName!=null">
                (#{productName})
            </if>
    </select> -->

    <select id="findChooseOrderByMarketNameAndProductNameCacheWithGroup"
            resultType="com.cqupt.mis.erp.model.vo.ChooseOrderVO">
        <![CDATA[
		SELECT allordersofgroup_.* FROM (
			SELECT
				chooseorder.userUnique,chooseorder.chooseValue,
				allordersofgroup.orderID,allordersofgroup.productName,allordersofgroup.pNumber,
				allordersofgroup.marketName,allordersofgroup.needTime,allordersofgroup.MoneyTime,
				allordersofgroup.penalPercent,allordersofgroup.specialRem,allordersofgroup.groupName,
				allordersofgroup.status,allordersofgroup.period,allordersofgroup.price
				FROM allordersofgroup RIGHT JOIN
				(
					SELECT chooseorder.*
					FROM chooseorder RIGHT JOIN (
						SELECT *,MIN(CHOOSEVALUE) AS _choosevalue FROM chooseorder
						WHERE groupname=#{groupName}
							AND period =#{period}
							AND chooseorder.CHOOSEVALUE <1000
						GROUP BY MARKETNAME,PRODUCTNAME
					)t ON chooseorder.`MARKETNAME` = t.marketname AND chooseorder.`PRODUCTNAME` = t.productname AND chooseorder.`GROUPNAME` = t.groupname AND chooseorder.CHOOSEVALUE = t._choosevalue
					WHERE chooseorder.groupname=#{groupName}  AND chooseorder.period =#{period} AND chooseorder.CHOOSEVALUE <1000
				)chooseorder ON allordersofgroup.`MARKETNAME` = chooseorder.marketname AND allordersofgroup.`PRODUCTNAME` = chooseorder.productname AND allordersofgroup.`GROUPNAME` = chooseorder.groupname
				WHERE allordersofgroup.groupname=#{groupName}
				AND allordersofgroup.period=#{period}
				AND allordersofgroup.status = 0
		)allordersofgroup_
]]>

        <if test="marketName=='all' ">
            INNER JOIN
            (
            SELECT DISTINCT marketname FROM adofuser WHERE userUnique=#{userUnique}  and period=#{period} and money>0
            )adofuser_marketname
            ON allordersofgroup_.`MARKETNAME` = adofuser_marketname.`MARKETNAME`
        </if>

        <if test="productName=='all' ">
            INNER JOIN
            (
            SELECT DISTINCT productname FROM adofuser WHERE userUnique=#{userUnique}  and period=#{period} and money>0
            )adofuser_productname
            ON allordersofgroup_.`PRODUCTNAME` = adofuser_productname.productname
        </if>
        <![CDATA[
		WHERE 1=1
]]>
        <if test="marketName!='all' and marketName!=null">
            AND allordersofgroup_.`MARKETNAME` = #{marketName}
        </if>

        <if test="productName!='all' and productName!=null">
            and allordersofgroup_.productName = #{productName}
        </if>
    </select>
</mapper>