<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.mis.erp.manager.order.OrdersOfUserDao">
    <resultMap type="com.cqupt.mis.erp.model.order.OrderSequence" id="orderSequenceMap">
        <result column="USERUNIQUE" property="userUnique"/>
        <result column="TOTALPRICE" property="money"/>
    </resultMap>

    <select id="findOrdersOfUserByUserUnique"
            resultType="com.cqupt.mis.erp.model.order.OrdersOfUser">
        select USERUNIQUE,ORDERID,MARKETNAME,NEEDTIME,PRODUCTNAME,
               PNUMBER,PRICE,MONEYTIME,PENALPERCENT,SPECIALREM,ENDTIME
        from ORDERSOFUSER
        where USERUNIQUE=#{userUnique}
    </select>

    <select id="findDeliveredOrdersOfUserByUserUnique"
            resultType="com.cqupt.mis.erp.model.order.OrdersOfUser">
        select USERUNIQUE,ORDERID,MARKETNAME,NEEDTIME,PRODUCTNAME,
               PNUMBER,PRICE,MONEYTIME,PENALPERCENT,SPECIALREM,ENDTIME
        from ORDERSOFUSER
        where USERUNIQUE=#{userUnique}
        and ENDTIME is not null
    </select>

    <select id="findNotDeliverOrdersOfUser"
            resultType="com.cqupt.mis.erp.model.order.OrdersOfUser">
        select USERUNIQUE,ORDERID,MARKETNAME,NEEDTIME,PRODUCTNAME,
               PNUMBER,PRICE,MONEYTIME,PENALPERCENT,SPECIALREM,ENDTIME
        from ORDERSOFUSER
        where USERUNIQUE=#{userUnique}
        and ENDTIME is null
    </select>

    <select id="findOrdersMoneyOfUser" resultMap="orderSequenceMap">
        <![CDATA[

		select userUnique,sum(price*pNumber) as totalPrice
		from OrdersOfUser
		where marketName=#{marketName}
		and productName=#{productName}
		and endTime<=needTime
		and needTime>=#{begin}
		and needTime<=#{end}
		and userUnique in (select userUnique
		                   from GameGroupMember
		                   where status=1
		                   and groupName=#{groupName} )
		group by userUnique

        ]]>
    </select>

    <select id="findUnOrdersMoneyOfUser" resultMap="orderSequenceMap">
        <![CDATA[

		select userUnique,sum(price*pNumber) as totalPrice
		from OrdersOfUser
		where marketName=#{marketName}
		and productName=#{productName}
		and endTime>needTime
		and needTime>=#{begin}
		and needTime<=#{end}
		and userUnique in(select userUnique
		                  from GameGroupMember
		                  where status=1
		                  and groupName=#{groupName} )
		group by userUnique

        ]]>
    </select>

    <select id="findSmallestTime" resultType="int" parameterType="string">
        select min(NEEDTIME)
        from ORDERSOFUSER
        where USERUNIQUE = #{userUnique}
        and ENDTIME is null
    </select>

    <select id="findOrderDetail" parameterType="string"
            resultType="com.cqupt.mis.erp.model.order.OrdersOfUser">
        select USERUNIQUE,ORDERID,MARKETNAME,NEEDTIME,PRODUCTNAME,
              PNUMBER,PRICE,MONEYTIME,PENALPERCENT,SPECIALREM,ENDTIME
        from ORDERSOFUSER
        where orderid = #{orderID}
    </select>

    <select id="findSaleRoom" resultType="float" parameterType="string">
        select PRICE*PNUMBER
        from ORDERSOFUSER
        where orderid = #{orderID}
    </select>


    <update id="updateOrderEndTime"
            parameterType="com.cqupt.mis.erp.model.order.OrdersOfUser">
        update ORDERSOFUSER
        set ENDTIME=(select CURRENTPERIOD
                     from GameGroupMember
                     where userUnique=#{userUnique})
        where ORDERID=#{orderID}
    </update>

</mapper>