<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.mis.erp.manager.iso.UndevelopIsoDao">
    <resultMap type="com.cqupt.mis.erp.model.iso.ISOUndevelop" id="ISOUndevelop">
        <id column="USERUNIQUE" property="userUnique" />
        <id column="ISONAME" property="isoName" />
        <result column="RESEARCHPERIOD" property="researchPeriod" />
        <result column="RESEARCHCOST" property="researchCost" />
        <result column="MAINTAINCOST" property="maintainCost" />
    </resultMap>

    <select id="findAllISOUndevelop" parameterType="string"
            resultType="com.cqupt.mis.erp.model.iso.ISOUndevelop">
        select ISOName,ResearchPeriod,ResearchCost,MaintainCost,userUnique
        from UNDEVELOPISO
        where USERUNIQUE=#{userUnique}
    </select>

    <select id="findOneUndevelop" resultMap="ISOUndevelop">
        select ISOName,ResearchPeriod,ResearchCost,MaintainCost
        from UNDEVELOPISO
        where USERUNIQUE=#{userUnique}
        and ISOName=#{isoName}
    </select>


    <delete id="delelteISOUndevelop">
        delete
        from undevelopiso
        where USERUNIQUE=#{userUnique}
        and ISONAME=#{isoName}
    </delete>


</mapper>