<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.mis.erp.manager.finance.BalanceSheetDao">
    <resultMap type="com.cqupt.mis.erp.model.finance.BalanceSheet"
               id="find_map">
        <result column="col1" property="allValue" />
        <result column="col2" property="rows" />
        <result column="col3" property="cols" />
    </resultMap>

    <select id="findBeginValue" resultType="Double">
        select BEGINVALUE
        from BALANCESHEET
        where USERUNIQUE = #{userUnique}
        and PERIOD = #{period}
        and ONEITEM in('股东资本','利润留存','净利润')
    </select>

    <select id="findBalanceSheet"  resultMap="find_map">
        SELECT * FROM(
        (
        SELECT IFNULL(Contentvalue,'') AS col1, rownumber AS col2,colnumber AS col3 FROM balancesheettextbasic
        )
        UNION ALL
        (
        SELECT IFNULL(FORMAT(balancesheet.BeginValue,2),'') AS col1,rownumber_first AS col2, colnumber_first AS col3 FROM Balancesheet,Balancesheetoneitembasic
        WHERE balancesheet.oneitem=balancesheetoneitembasic.oneitem AND USERUNIQUE=#{userUnique}  AND PERIOD=#{period}
        )
        UNION ALL
        (
        SELECT IFNULL(FORMAT(EndValue,2),'')AS col1,rownumber_last AS col2, colnumber_last AS col3 FROM Balancesheet,Balancesheetoneitembasic
        WHERE balancesheet.oneitem=balancesheetoneitembasic.oneitem AND USERUNIQUE=#{userUnique}  AND PERIOD=#{period}
        )
        UNION ALL
        (
        SELECT IFNULL(FORMAT(table1.bv,2),'')AS col1,balancesheetcalbasic.calrow_first AS col2,balancesheetcalbasic.calcol_first AS col3
        FROM balancesheetcalbasic,(SELECT balancesheetcalbasic.calcellid AS calid,IFNULL(SUM(balancesheet.beginvalue*balancesheetcalrelationbasic.signal),'')AS bv
        FROM balancesheetcalrelationbasic, balancesheet,balancesheetcalbasic
        WHERE balancesheetcalrelationbasic.oneitem=balancesheet.oneitem
        AND balancesheetcalbasic.calcellid=balancesheetcalrelationbasic.calcellid
        AND USERUNIQUE=#{userUnique} AND PERIOD=#{period}
        GROUP BY
        balancesheetcalbasic.calcellid) table1
        WHERE table1.calid
        =balancesheetcalbasic.calcellid
        )
        UNION ALL
        (
        SELECT IFNULL(FORMAT(table2.ev,2),'')AS
        col1,balancesheetcalbasic.calrow_last AS
        col2,balancesheetcalbasic.calcol_last AS col3
        FROM
        balancesheetcalbasic,
        (SELECT balancesheetcalbasic.calcellid AS calid,IFNULL(SUM(balancesheet.endvalue*balancesheetcalrelationbasic.signal),'')AS ev FROM balancesheetcalrelationbasic, balancesheet,balancesheetcalbasic
        WHERE balancesheetcalrelationbasic.oneitem=balancesheet.oneitem
        AND balancesheetcalbasic.calcellid=balancesheetcalrelationbasic.calcellid
        AND USERUNIQUE=#{userUnique}  AND PERIOD=#{period} GROUP BY
        balancesheetcalbasic.calcellid
        ) table2
        WHERE table2.calid =balancesheetcalbasic.calcellid
        )
        )tt ORDER BY col2,col3
    </select>

    <select id="findBeginValueOneItem" resultType="double">
        select BEGINVALUE
        from BALANCESHEET
        where USERUNIQUE = #{userUnique}
        and PERIOD = #{period}
        and ONEITEM = #{oneItem}
    </select>

    <select id="findBalancesheetVO" parameterType="string"
            resultType="com.cqupt.mis.erp.model.vo.BalancesheetVO">
        select type1,sum(endvalue) as cvalue
        from accountonebasic, balancesheet
        where accountonebasic.oneitem =balancesheet.oneitem
        and balancesheet.userunique=#{userUnique}
        group by Type1
    </select>

    <!-- 修改这里的时候请修改对应的balanceSheetDao。CalOwnerBenifit的历史纪录 -->
    <select id="CalOwnerBenifit" resultType="double" >
        select ifnull(sum(endvalue), 0) as ev
        from balancesheet,accountonebasic
        where balancesheet.oneitem=accountonebasic.oneitem
        and type1='所有者权益'
        and period=#{period}
        and userunique =#{userUnique}
    </select>

    <update id="updateBalanceEndValues">
        update BALANCESHEET
        set ENDVALUE = ENDVALUE + #{sumValue}
        where USERUNIQUE = #{userUnique}
        and ONEITEM = #{oneItem}
        and period = #{period}
    </update>

    <update id="updateOneBalanceEndValue">
        update BALANCESHEET
        set ENDVALUE = #{endValue}
        where period = #{period}
        and USERUNIQUE = #{userUnique}
        and ONEITEM = #{oneItem}
    </update>


    <insert id="addBalanceSheets">
        insert into BALANCESHEET(USERUNIQUE,period,ONEITEM,BEGINVALUE)
        select USERUNIQUE, period + 1, ONEITEM, ENDVALUE
        from BALANCESHEET
        where USERUNIQUE = #{userUnique}
        and period = #{period}
    </insert>
</mapper>


