<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.mis.erp.manager.finance.TaxSheetDao">

    <update id="updateTaxSheet">
        update TAXSHEET
        set tax=tax+#{tax}
        where USERUNIQUE=#{userUnique}
    </update>

    <select id="findTaxSheetByUserUnique"
            resultType="com.cqupt.mis.erp.model.finance.TaxSheet" parameterType="string">
        select USERUNIQUE,TAX
        from TAXSHEET
        where USERUNIQUE=#{userUnique}
    </select>

</mapper>