<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.mis.erp.manager.factory.FactoryMakingDao">
    <resultMap type="com.cqupt.mis.erp.model.factory.FactoryCommonInfo"
               id="FactoryCommonInfoResult">
        <id column="USERUNIQUE" property="userUnique" />
        <id column="FACTORYID" property="factoryId" />
        <result column="FACTORYTYPE" property="factoryType" />
        <result column="SELLPRICE" property="sellPrice" />
        <result column="PLACE" property="place" />
        <result column="BEGINTIME" property="beginTime" />
        <result column="FINISHTIME" property="finishTime" />
        <result column="FINISHEDPERIOD" property="finishedPeriod" />
        <result column="CAPACITY" property="capacity" />
        <result column="PRODUCTLINENUMBER" property="productLineNumber" />
        <result column="RENTCOST" property="rentCost" />
        <result column="NEEDPERIOD" property="needPeriod" />
        <result column="STATUS" property="status" />
        <result column="PAYMODE" property="payMode" />
        <result column="MAKEPERIOD" property="makePeriod" />
        <result column="SELLDESCRIPTION" property="sellDescription" />
    </resultMap>

    <select id="findFactoryMakings" parameterType="string" resultMap="FactoryCommonInfoResult">
        select FACTORY_MAKING.USERUNIQUE,FACTORY_MAKING.FACTORYID, FACTORY_MAKING.FACTORYTYPE,
        FACTORY_MAKING.PLACE, FACTORY_MAKING.STATUS, FACTORY_MAKING.BEGINTIME,
        FACTORY_MAKING.FINISHEDPERIOD, FACTORY_MAKING.PAYMODE,CAPACITY,MAKEPERIOD
        from FACTORY_MAKING, FACTORYBASIC
        where FACTORY_MAKING.USERUNIQUE=#{userUnique}
        and FACTORY_MAKING.FACTORYTYPE=FACTORYBASIC.FACTORYTYPE
    </select>

    <select id="findFactoryMakingsByMarketName"  resultMap="FactoryCommonInfoResult">
        select FACTORY_MAKING.USERUNIQUE,FACTORY_MAKING.FACTORYID, FACTORY_MAKING.FACTORYTYPE,
               FACTORY_MAKING.PLACE, FACTORY_MAKING.STATUS, FACTORY_MAKING.BEGINTIME,
               FACTORY_MAKING.FINISHEDPERIOD, FACTORY_MAKING.PAYMODE,CAPACITY,MAKEPERIOD
        from FACTORYBASIC,FACTORY_MAKING
        where FACTORY_MAKING.USERUNIQUE=#{userUnique}
        and FACTORY_MAKING.PLACE like #{marketName}
        and FACTORY_MAKING.FACTORYTYPE=FACTORYBASIC.FACTORYTYPE
    </select>

    <!-- FACTORY_MAKING表中的“厂房编号（FactoryID）”，“厂房类型（FactoryType）”，,“所在位置(Place)”,“状态(Status)，
        0显示“暂定修建”，1显示“继续修建”，开始修建的时间BeginTime， 已完成的建造周期FinishedPeriod“,
        建造厂房的付款方式（PayMode）;; FACTORYBASIC表中的“能容纳的生产线数量(Capacity)”,“总建造周期(MakePeriod)”. -->
    <select id="findMakingDetail" resultMap="FactoryCommonInfoResult">
        select FACTORY_MAKING.FACTORYID,FACTORY_MAKING.FACTORYTYPE,FACTORY_MAKING.PLACE,
               FACTORY_MAKING.STATUS,BEGINTIME,FINISHEDPERIOD,PAYMODE,CAPACITY,MAKEPERIOD
        from FACTORYBASIC,FACTORY_MAKING
        where USERUNIQUE=#{userUnique}
        and FACTORYID=#{factoryId}
        and FACTORY_MAKING.FACTORYTYPE=FACTORYBASIC.FACTORYTYPE
    </select>

    <!-- 这里的payMode 是定值.前面根本不用传过来用
    UserUnique,factoryType,Place，payMode(当前设置为0即：按期支付建造资金),
    Status设置为1,BeginTime的值从表GAMEGROUPMEMBER的CurrentPeriod字段获取，FinshiedPeriod设置为0，表示刚开始建设
    -->
    <insert id="addMakingFactory" >
        insert into FACTORY_MAKING(USERUNIQUE,FACTORYTYPE,
                  PLACE,STATUS,BEGINTIME,FINISHEDPERIOD,PAYMODE)
        values(#{userUnique},#{factoryType},
               #{place},'1',#{beginTime},'0','0')
    </insert>

    <update id="updateFactoryStatus" >
        update FACTORY_MAKING
        set STATUS=#{status}
        where USERUNIQUE=#{userUnique}
        and FACTORYID=#{factoryId}
    </update>

</mapper>