<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 数据表productdetailbasic -->
<mapper namespace="com.cqupt.mis.erp.manager.product.ProductDetailBasicDao">
    <select id="findProductDetail"
            resultType="com.cqupt.mis.erp.model.product.ProductDetailBasic">
        select PRODUCTNAME,MATERIALNAME,MNUMBER
        from PRODUCTDETAILBASIC
    </select>

    <select id="findMaterialNamesBYProduct"
            parameterType="string" resultType="string">
        select MATERIALNAME
        from PRODUCTDETAILBASIC
        where PRODUCTNAME=#{productName}
    </select>

    <select id="findMaterialNumber" resultType="int">
        select MNUMBER
        from PRODUCTDETAILBASIC
        where PRODUCTNAME=#{productName}
        and MATERIALNAME=#{materialName}
    </select>
</mapper>