<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应数据表productofuser -->
<mapper namespace="com.cqupt.mis.erp.manager.product.ProductOfUserDao">

    <select id="findProductInventories" parameterType="string"
            resultType="com.cqupt.mis.erp.model.product.ProductOfUser">
        select PRODUCTNAME,PNUMBER,WAREHOUSENAME,USERUNIQUE
        from PRODUCTOFUSER
        where USERUNIQUE=#{userUnique}
    </select>

    <select id="findProductOfUserPNumber"
            resultType="com.cqupt.mis.erp.model.product.ProductOfUser">
        select PRODUCTNAME,USERUNIQUE,PNUMBER,WAREHOUSENAME
        from PRODUCTOFUSER
        where USERUNIQUE=#{userUnique}
        and PRODUCTNAME=#{productName}
    </select>

    <update id="updateProductOfUserPNumber">
        update PRODUCTOFUSER
        set PNUMBER=#{pNumber}
        where userUnique=#{userUnique}
        and productName=#{productName}
    </update>

    <update id="updateDecreasePNumber">
        update PRODUCTOFUSER
        set PNUMBER=PNUMBER-#{pNumber}
        where userUnique=#{userUnique}
        and productName=#{productName}
    </update>

</mapper>