<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.mis.erp.manager.product.UndevelopProductDao">
    <select id="findUndevelopProductsByUserUnique"
            parameterType="string" resultType="com.cqupt.mis.erp.model.product.UndevelopProduct">
        select USERUNIQUE,PRODUCTNAME,RESEARCHPERIOD,RESEARCHCOST
        from UndevelopProduct
        where userUnique=#{userUnique}
    </select>

    <select id="findUndevelopProductByUserUnique"
            resultType="com.cqupt.mis.erp.model.product.UndevelopProduct">
        select USERUNIQUE,PRODUCTNAME,RESEARCHPERIOD,RESEARCHCOST
        from UndevelopProduct
        where userUnique=#{userUnique}
        and productName=#{productName}
    </select>

    <delete id="deleteUndevelopProduct">
        delete
        from UNDEVELOPPRODUCT
        where userUnique=#{userUnique}
        and productName=#{productName}
    </delete>

</mapper>