<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.mis.erp.manager.market.MarketBasicDao">

    <select id="findMarketName"  resultType="string">
        select MARKETNAME
        from MARKETBASIC
    </select>

</mapper>